CompileFlags:
  Add: ["-xc", "-Wall", "-Werror", "-Wextra", "-std=c2x", "-ferror-limit=0", "-fblocks", "-mavx2", "-msse4.1"]

Index:
  Background: Build
  StandardLibrary: No

Diagnostics:
  Suppress: ["init_conversion_failed", "unused-includes"]