CompileFlags:
  Add: ["-xc", "-Wall", "-Werror", "-Wextra", "-std=c2x", "-ferror-limit=0", "-fblocks"]

Index:
  Background: Build
  StandardLibrary: No

Diagnostics:
  Suppress: ["init_conversion_failed", "unused-includes"]